# --- OGÓLNE ARTEFAKTY SYSTEMOWE ---
.DS_Store # Mac OS
Thumbs.db # Windows
*.log
*.zip
*.tar
*.rar
*.7z

# --- PYTHON (Utrzymano i Rozszerzono) ---
# Katalogi
__pycache__/
venv/
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
